/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/index.css */
body {
  background-color: #F8F9FA; /* Fondo claro */
  color: #343A40; /* Texto gris oscuro */
}

/* Estilos personalizados para la barra de desplazamiento */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Mejoras de diseño para el popup de alertas */
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Transiciones suaves para elementos interactivos */
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

button, input, select {
  border-radius: 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-primary {
  background-color: #FFEB3B; /* Amarillo */
}

.text-primary {
  color: #FFEB3B; /* Amarillo */
}

.bg-accent {
  background-color: #FF9800; /* Naranja */
}

.text-accent {
  color: #FF9800; /* Naranja */
}
/* Estilos personalizados */
body {
  @apply font-sans text-gray-800 bg-gray-50;
}

h1, h2, h3 {
  @apply font-bold text-gray-900;
}

a {
  @apply transition-colors duration-300;
}

button {
  @apply transition-all duration-300;
}